.catalog_of_goods_block_relative {
	max-width: 1200px;
	margin: 0px auto;
	position: relative;
}
.catalog_of_goods {
	display: none;
	flex-wrap: wrap;
	position: absolute;
	width: 100%;
	max-height: 250px;
	z-index: 10;
	justify-content: space-between;
	background: #FFF;
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
}
.catalog_items {
	flex: 1 1 25%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.catalog_items:hover {
	background: #FAFAFA;
	box-shadow: -1px 0px 0px 0px #ECECEC inset;
}
.catalog_items_title {
	padding-top: 25px;
	color: var(--text-base, #151716);
	text-align: center;
	font-family: Orenburg;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
}
.block_nav_list_big {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	flex: 1 1 auto;
}
.nav_item_link_big, .nav_item_btn_big {
	color: #BEBEBE;
	font-family: Orenburg;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: 0.3px;
	background-color: inherit;
}
.nav_item_btn_big{
	display: flex;
	align-items: center;
}
.nav_item_arrow_big {
	width: 14px;
	height: 8px;
	margin-left: 8px;
	transform: rotate(180deg);
}
.header_block_container {
	flex-direction: row;
}

/*Секция страницы - популярные товары - popular_goods_section */
.popular_goods_section {
	width: 100%;
	height: auto;
	background: #FFF;
	padding: 0px 40px;
}
.popular_goods_block {
	max-width: 1200px;
	margin: 0px auto;
	padding: 80px 0px 25px 0px;
	
}
.popular_goods_block_list {
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	

}
.popular_goods_cart {
	flex: 0 1 25%;
	height: 354px;
	display: flex;
	flex-direction: column;
	background: #FFF;
	box-shadow: -1px 1px 0px 0px #ECECEC inset;
	position: relative;
	transition: all 0.9s;
	padding: 24px 20px;
}
.discount_value {
	width: 60px;
	padding: 8px 11px;
	border-radius: 2px;
	background: var(--background-orange, #FF7028);
	position: absolute;
	top: 12px;
	right: 12px;
	color: #FFF;
	text-align: center;
	font-family: PT Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px; /* 125% */
}
.popular_goods_cart:hover {
	background-color: #f5f5f5;
	transition: all 0.9s;
}
.popular_goods_cart img {
	width: 180px;
	height: 188px;
	object-fit: cover;
	padding-bottom: 20px;
}
.popular_goods_price {
	color: var(--text-base, #151716);
	font-family: PT Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 100% */
}

.popular_goods_old_price {
	margin-left: 15px;
	color: #A5A5A5;
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 100% */
}
.popular_goods_cart_title {
	flex: 1 1 auto;
}
.photo_slider_block {
	display: none;
}





/*Секция - Описание продукции, категории, товара или самого блока */
.description_section {
	width: 100%;
	height: auto;
	padding: 60px 40px;
	background-color: #F6F6F6;
}
.description_main_block {
	max-width: 1200px;
	margin: 0px auto;
}
.description_column_block {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 40px 80px;
	max-height: 564px;

}
.description_column_item {
	width: 46.6%;
	flex: 1 1 auto;
}
.description_column_item p {
	font-family: PT Sans;
	font-size: 16px;
	line-height: 22px;
}
.category_content_list_benefits {
	padding-top: 25px;
}
.category_content_item_benefits {
	margin-bottom: 15px;
	color: var(--Text-Base, #151716);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}
.category_content_item_benefits::before {
	content: url('../img/category/Polygon.svg');
	margin-right: 16px;
}



/* Стиль для адресной строки */
.adres_info_section {
	width: 100%;
	padding: 0px 40px;
	height: auto;
	border-bottom: 1px solid grey;
}
.adres_info_block {
	max-width: 1440px;
	padding: 20px 0px;
	margin: 0px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	
}
.adres_info_block a {
	color: var(--text-base, #151716);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
}

/*Стили для страницы category-----------------*/
.title_info_block_main {
	width: 100%;
	height: auto;
	padding: 0px 40px;
}
.title_info_block {
	max-width: 1200px;
	margin: 0px auto;
	padding: 50px 0px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 32px 36px;
	flex-wrap: wrap;
}
.title_info_header{
	flex:  1 1 100%;
}
.checked_main_block {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.checked_block {
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}
.check_btn {
	color: var(--text-link, #FE5B00);
	font-family: PT Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 155.556% */
	padding: 0;
	margin: 0;
	background: inherit;
}
.select_button_block {
	border: 1px solid #D9D9D9;
}
.select_button {
	color: var(--text-base, #151716);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	background-color: inherit;
	padding: 10px 65px 10px 12px;
	position: relative;
}
.select_button::after {
	content: '';
	position: absolute;
	background-image: url('../img/category/Select.svg');
	display: block;
	width: 6px;
	height: 14px;
	top:50%;
	right:15px;
	transform:translate(0%, -50%);
}
.site_bar {
	max-width: 294px;
	flex-grow: 1;
	flex-shrink: 3;
	height: auto;
	border: 2px solid rgba(254, 91, 0, 1);
	padding: 28px 28px 28px 28px;
}

.checkbox_block_filter {
	width: 100%;
	height: 100%;
}
.promo_goods_checkbox {
	width: 100%;
	border-bottom: 1px solid rgba(236, 236, 236, 1);
	padding-bottom: 16px;
}
.promo_goods_checkbox input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

.type_goods_checkbox {
	width: 100%;
	border-bottom: 1px solid rgba(236, 236, 236, 1);
	padding-bottom: 16px;
	padding-top: 20px;
}
.type_goods_checkbox input[type="checkbox"] {
	width: 16px;
	height: 16px;
}
.checkbox_container {
	padding-top: 17px;
}

.color_goods_checkbox {
	width: 100%;
	border-bottom: 1px solid rgba(236, 236, 236, 1);
	padding-bottom: 16px;
	padding-top: 20px;
}
.checkbox_color_list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 17px;
	gap: 17px 14px;
}
.check_color {
	width: 26px;
	height: 26px;
	border: 1px solid rgba(196, 196, 196, 1);
	border-radius: 26px;
}

/*Стили цветов для кнопок*/
.chome {
	background: linear-gradient(45deg,rgba(244, 244, 244, 1), rgba(223, 223, 223, 1), rgba(244, 244, 244, 1));
}
.bronze {
	background: linear-gradient(45deg,rgba(200, 179, 140, 1), rgba(159, 137, 94, 1), rgba(200, 179, 140, 1));
}
.green {
	background: linear-gradient(45deg,rgba(189, 221, 171, 1), rgba(215, 244, 198, 1), rgba(189, 221, 171, 1));
	
}
.oak {
	background: linear-gradient(45deg,rgba(75, 45, 35, 1), rgba(120, 74, 59, 1), rgba(75, 45, 35, 1));
}
.shtrokcs {
	background: linear-gradient(45deg,rgba(133, 125, 112, 1), rgba(166, 158, 144, 1), rgba(133, 125, 112, 1));
}
.white {
	background: rgba(255, 255, 255, 1);
}
.coconut {
	background: linear-gradient(45deg,rgba(202, 131, 77, 1), rgba(228, 167, 121, 1), rgba(202, 131, 77, 1));
}
.black {
	background: linear-gradient(45deg,rgba(39, 39, 39, 1), rgba(82, 82, 82, 1), rgba(39, 39, 39, 1));
}
.blue {
	background: linear-gradient(45deg,rgba(171, 194, 195, 1), rgba(215, 231, 232, 1), rgba(171, 194, 195, 1));
}
.check_color:focus {
	box-shadow: 0 0 7px 5px #FE5B00;
}

/*Checkbox- выбор коллекции - collection_goods_checkbox */

.collection_goods_checkbox {
	width: 100%;
	padding-bottom: 16px;
	padding-top: 20px;
}
.show_all_collection {
	color: #656B72;
	background: none;
}
.show_six_collection {
	color: #656B72;
	background: none;
	display: none;
}
/*Блок товары по категориям или фильтрам цвет коллекция типы*/
.category_goods_list_block {
	max-width: 870px;
	flex-grow: 3;
	flex-shrink: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}
.category_goods_cart {
	flex: 0 1 33.33%;
	height: 354px;
	display: flex;
	flex-direction: column;
	background: #FFF;
	box-shadow: -1px 1px 0px 0px #ECECEC inset;
	position: relative;
	transition: all 0.9s;
	padding: 24px 20px;
}

.category_goods_cart:hover {
	background-color: #f5f5f5;
	transition: all 0.9s;
}
.category_goods_cart img {
	width: 180px;
	height: 188px;
	object-fit: cover;
	padding-bottom: 20px;
}
.category_goods_price {
	color: var(--text-base, #151716);
	font-family: PT Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 100% */
}

.category_goods_old_price {
	margin-left: 15px;
	color: #A5A5A5;
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 100% */
}
.category_goods_cart_title {
	flex: 1 1 auto;
}

/*Блок характеристика категории - category_main_block- НЕ ИСПОЛЬЗУЕТСЯ--*/
/*
.category_main_block {
	width: 100%;
	height: auto;
	border-radius: 2px;
	background: #F6F6F6;
	padding: 60px 40px;
}
.category_block {
	max-width: 1200px;
	height: auto;
	margin: 0px auto;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0px 70px;
}
.flex_100 {
	flex: 1 1 100%;
}
.pd_top_40 {
	padding-top: 40px;
}
.category_content {
	max-width: 560px;
	flex: 0 1 auto;
	color: var(--Text-Base, #151716);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; 
}
.category_content a {
	color: var(--Text-Link, #FE5B00);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}
.category_content_list_benefits {
	padding-top: 25px;
}
.category_content_item_benefits {
	margin-bottom: 15px;
	color: var(--Text-Base, #151716);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}
.category_content_item_benefits::before {
	content: url('../img/category/Polygon.svg');
	margin-right: 16px;
}
*/