.catalog_of_goods_block_relative {
	max-width: 1200px;
	margin: 0px auto;
	position: relative;
}
.catalog_of_goods {
	display: none;
	flex-wrap: wrap;
	position: absolute;
	width: 100%;
	max-height: 250px;
	z-index: 10;
	justify-content: space-between;
	background: #FFF;
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
}
.catalog_items {
	flex: 1 1 25%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.catalog_items:hover {
	background: #FAFAFA;
	box-shadow: -1px 0px 0px 0px #ECECEC inset;
}
.catalog_items_title {
	padding-top: 25px;
	color: var(--text-base, #151716);
	text-align: center;
	font-family: Orenburg;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
}
.block_nav_list_big {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	flex: 1 1 auto;
}
.nav_item_link_big, .nav_item_btn_big {
	color: #BEBEBE;
	font-family: Orenburg;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: 0.3px;
	background-color: inherit;
}
.nav_item_btn_big{
	display: flex;
	align-items: center;
}
.nav_item_arrow_big {
	width: 14px;
	height: 8px;
	margin-left: 8px;
	transform: rotate(180deg);
}
.header_block_container {
	flex-direction: row;
}

/*Секция страницы - популярные товары - popular_goods_section */
.popular_goods_section {
	width: 100%;
	height: auto;
	background: #FFF;
	padding: 0px 40px;
}
.popular_goods_block {
	max-width: 1200px;
	margin: 0px auto;
	padding: 80px 0px;
	
}
.popular_goods_block_list {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px 0px;

}
.popular_goods_cart {
	flex: 0 1 25%;
	height: 354px;
	display: flex;
	flex-direction: column;
	background: #FFF;
	box-shadow: -1px 1px 0px 0px #ECECEC inset;
	position: relative;
	transition: all 0.9s;
	padding: 24px 20px;
}
.discount_value {
	width: 60px;
	padding: 8px 11px;
	border-radius: 2px;
	background: var(--background-orange, #FF7028);
	position: absolute;
	top: 12px;
	right: 12px;
	color: #FFF;
	text-align: center;
	font-family: PT Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px; /* 125% */
}
.popular_goods_cart:hover {
	background-color: #f5f5f5;
	transition: all 0.9s;
}
.popular_goods_cart img {
	width: 180px;
	height: 188px;
	object-fit: cover;
	padding-bottom: 20px;
}
.popular_goods_price {
	color: var(--text-base, #151716);
	font-family: PT Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 100% */
}

.popular_goods_old_price {
	margin-left: 15px;
	color: #A5A5A5;
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 100% */
}
.popular_goods_cart_title {
	flex: 1 1 auto;
}
.photo_slider_block {
	display: none;
}

